img {
  width: 100%;
  margin-bottom: 0;
}

.aboutUs {
  background-color: #e7816b;
  height: 700px;
  width: 100%;

  color: white;
  font-family: "Jost", sans-serif;
}
.aboutUs h3 {
  padding-top: 20%;
}
.aboutUs p {
  margin: 0 7% 10% 7%;
}

.worldClassContainer {
  background-color: #fdf3f0;

  height: 900px;
  font-family: "Jost", sans-serif;
}

.worldClassContainer h3 {
  padding-top: 20%;
  color: #e7816b;
}

.worldClassContainer p {
  margin: 0 7% 10% 7%;
  color: #333136;
}

.countriesContainer {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;

  height: 1200px;
  margin: 25% 10% 0 10%;
}

.countriesContainer h3 {
  letter-spacing: 10px;
  text-transform: uppercase;
}
.backgroundCountries {
  margin-top: 15%;
}
.backgroundCountries img {
  border-radius: 50%;
  background-image: linear-gradient(#5d020200, #5d02021c);
  width: 202px;
  height: 202px;
}

.locationButton button {
  padding: 15px;
  background-color: #e7816b;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  letter-spacing: 1.5px;
  min-width: 152px;
  font-size: 15px;
  color: white;
}
.realDealContainer {
  background-color: #fdf3f0;

  margin-bottom: -70px;
  height: 770px;
  font-family: "Jost", sans-serif;
}

.realDealContainer h3 {
  padding-top: 20%;
  color: #e7816b;
}

.realDealContainer p {
  margin: 0 7% 10% 7%;
  color: #333136;
}

@media screen and (max-width: 801px) and (min-width: 520px) {
  .container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .aboutUs {
    background-color: #e7816b;
    height: 750px;
    width: 100%;

    color: white;
    font-family: "Jost", sans-serif;
    border-radius: 15px;
    margin-bottom: 10%;
  }

  .aboutUs img {
    height: 450px;
    border-radius: 15px 15px 0 0;
  }
  .aboutUs h3 {
    margin-top: -15%;
    font-size: 32px;
  }

  .aboutUs p {
    margin: 0 7% 10% 7%;
  }
  .worldClassContainer {
    background-color: #fdf3f0;
    border-radius: 15px;
    height: 900px;
    font-family: "Jost", sans-serif;
  }

  .worldClassContainer h3 {
    padding-top: 20%;
    color: #e7816b;
    margin-top: -15%;
    font-size: 32px;
  }

  .worldClassContainer img {
    height: 450px;
    border-radius: 15px 15px 0 0;
  }

  .worldClassContainer p {
    margin: 0 7% 10% 7%;
    color: #333136;
  }
  .realDealContainer {
    background-color: #fdf3f0;
    margin-top: 10%;
    height: 900px;
    font-family: "Jost", sans-serif;
  }
  .realDealContainer img {
    height: 450px;
  }

  .realDealContainer h3 {
    color: #e7816b;
    margin-top: -15%;
  }

  .realDealContainer p {
    margin: 0 7% 10% 7%;
    color: #333136;
  }
}

@media screen and (min-width: 802px) {
  .container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .aboutUs {
    display: flex;
    display: flex;
    flex-direction: row-reverse;

    margin-bottom: 10%;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;

    position: relative;
  }
  .aboutUs img {
    width: 200%;
  }
  .leftHalf {
    flex-grow: 2;
    background-color: #e7816b;
  }

  .aboutUs h3 {
    position: absolute;
    left: 25%;
    top: -40%;
    font-size: 32px;
  }
  .aboutUs p {
    position: absolute;
    bottom: 1%;
    left: 5%;
    text-align: left;
    margin-right: 40%;
  }

  .rightHalf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
  }

  .worldClassContainer {
    display: flex;
    display: flex;
    flex-direction: row;

    margin-bottom: 10%;
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
    background-color: #fdf3f0;
    position: relative;
    width: 100%;
  }
  .worldClassContainer img {
    width: 40%;
    position: absolute;
    left: 0;
    height: 100%;
  }

  .worldClassContainer h3 {
    position: absolute;
    bottom: 410px;
    right: 30%;
    font-size: 32px;
  }
  .worldClassContainer p {
    width: 100%;
  }

  .rightHalf1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    height: 400px;
    position: absolute;
    bottom: -15%;
    right: 5%;
    width: 50%;
  }
  .leftHalf1 {
    flex-grow: 2;
  }
  .countriesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: 400px;
    margin-left: 0;
    margin-top: -20px;
    font-size: 0;
    position: relative;
  }
  .countriesContainer img {
    position: absolute;
    top: 10%;
  }

  .locationButton button {
    position: absolute;
    bottom: 20%;
    left: 2%;
  }
  .australiaBackground img {
    border-radius: 50%;
    background-image: linear-gradient(#5d020200, #5d02021c);
    width: 202px;
    height: 202px;
    position: absolute;
    left: 35%;
  }
  .australiaButton button {
    position: absolute;
    bottom: 20%;
    left: 37%;
    padding: 15px;
    background-color: #e7816b;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    letter-spacing: 1.5px;
    min-width: 152px;
    font-size: 15px;
    color: white;
  }
  .ukBackground img {
    border-radius: 50%;
    background-image: linear-gradient(#5d020200, #5d02021c);
    width: 202px;
    height: 202px;
    position: absolute;
    left: 70%;
  }
  .ukButton button {
    position: absolute;
    bottom: 20%;
    left: 72%;
    padding: 15px;
    background-color: #e7816b;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    letter-spacing: 1.5px;
    min-width: 152px;
    font-size: 15px;
    color: white;
  }

  .realDealContainer {
    display: flex;
    display: flex;
    flex-direction: row-reverse;

    margin-bottom: 10%;
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
    margin-bottom: 10%;
    border-radius: 15px;
    overflow: hidden;

    background-color: #fdf3f0;
    position: relative;
    width: 100%;
  }
  .realDealContainer img {
    width: 40%;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #fdf3f0;
  }
  .realDealContainer h3 {
    position: absolute;
    bottom: 410px;
    top: -70%;

    right: 30%;
    font-size: 32px;
  }
  .realDealContainer p {
    width: 100%;
  }
  .leftHalf2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    height: 400px;
    position: absolute;
    bottom: -20%;
    left: 60px;
    width: 50%;
  }

  .rightHalf2 {
    flex-grow: 2;
  }
}
